.login_background{
  background-color: #61dafb;
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.content_login{
  float: none;
  margin: 0 auto;
}
.input_login{
  width: 200px;
}

.text_label{
  font-size: 20px;
}
